<%- include('partials/header') %>

<div class="main-content">
    <div class="card shadow-sm">
        <div class="card-header h5">
            Konu: <%= conversation.subject %>
        </div>
        <div class="card-body" style="min-height: 400px; display: flex; flex-direction: column-reverse;">
            <div class="message-thread">
                <% conversation.messages.forEach(message => { %>
                    <% if (message.sender.toString() === user.id) { %>
                        <div class="message-card sent">
                            <p class="message-content"><%= message.content %></p>
                            <small class="message-date"><%= new Date(message.createdAt).toLocaleString('tr-TR') %></small>
                        </div>
                    <% } else { %>
                        <div class="message-card received">
                            <p class="message-content"><%= message.content %></p>
                            <small class="message-date"><%= new Date(message.createdAt).toLocaleString('tr-TR') %></small>
                        </div>
                    <% } %>
                <% }); %>
            </div>
        </div>
        <div class="card-footer">
            <form action="/message/<%= conversation._id %>/reply" method="POST">
                <div class="input-group">
                    <textarea name="replyContent" rows="2" class="form-control" required placeholder="Cevabınızı buraya yazın..."></textarea>
                    <button type="submit" class="btn btn-primary">Gönder</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('partials/footer') %>